
.vs/ClientServer/config/applicationhost.config
.vs/ClientServer/v16/.suo
BTLClientServer/bin/Antlr3.Runtime.dll
BTLClientServer/bin/Antlr3.Runtime.pdb
BTLClientServer/bin/BTLClientServer.dll
BTLClientServer/bin/BTLClientServer.dll.config
BTLClientServer/bin/BTLClientServer.pdb
BTLClientServer/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
BTLClientServer/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
BTLClientServer/bin/Microsoft.Web.Infrastructure.dll
BTLClientServer/bin/Newtonsoft.Json.dll
BTLClientServer/bin/Newtonsoft.Json.xml
BTLClientServer/bin/roslyn/csc.exe
BTLClientServer/bin/roslyn/csc.exe.config
BTLClientServer/bin/roslyn/csc.rsp
BTLClientServer/bin/roslyn/csi.exe
BTLClientServer/bin/roslyn/csi.rsp
BTLClientServer/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
BTLClientServer/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
BTLClientServer/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
BTLClientServer/bin/roslyn/Microsoft.CodeAnalysis.dll
BTLClientServer/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
BTLClientServer/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
BTLClientServer/bin/roslyn/Microsoft.CSharp.Core.targets
BTLClientServer/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
BTLClientServer/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
BTLClientServer/bin/roslyn/Microsoft.VisualBasic.Core.targets
BTLClientServer/bin/roslyn/System.AppContext.dll
BTLClientServer/bin/roslyn/System.Collections.Immutable.dll
BTLClientServer/bin/roslyn/System.Diagnostics.StackTrace.dll
BTLClientServer/bin/roslyn/System.IO.FileSystem.dll
BTLClientServer/bin/roslyn/System.IO.FileSystem.Primitives.dll
BTLClientServer/bin/roslyn/System.Reflection.Metadata.dll
BTLClientServer/bin/roslyn/vbc.exe
BTLClientServer/bin/roslyn/vbc.exe.config
BTLClientServer/bin/roslyn/vbc.rsp
BTLClientServer/bin/roslyn/VBCSCompiler.exe
BTLClientServer/bin/roslyn/VBCSCompiler.exe.config
BTLClientServer/bin/System.Web.Helpers.dll
BTLClientServer/bin/System.Web.Helpers.xml
BTLClientServer/bin/System.Web.Mvc.dll
BTLClientServer/bin/System.Web.Mvc.xml
BTLClientServer/bin/System.Web.Optimization.dll
BTLClientServer/bin/System.Web.Optimization.xml
BTLClientServer/bin/System.Web.Razor.dll
BTLClientServer/bin/System.Web.Razor.xml
BTLClientServer/bin/System.Web.WebPages.Deployment.dll
BTLClientServer/bin/System.Web.WebPages.Deployment.xml
BTLClientServer/bin/System.Web.WebPages.dll
BTLClientServer/bin/System.Web.WebPages.Razor.dll
BTLClientServer/bin/System.Web.WebPages.Razor.xml
BTLClientServer/bin/System.Web.WebPages.xml
BTLClientServer/bin/WebGrease.dll
Client/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
Client/obj/Debug/Client.csproj.AssemblyReference.cache
Client/obj/Debug/Client.csproj.CopyComplete
Client/obj/Debug/Client.csproj.CoreCompileInputs.cache
Client/obj/Debug/Client.csproj.FileListAbsolute.txt
Client/obj/Debug/Client.dll
Client/obj/Debug/Client.pdb
Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Client/Content/bootstrap-utilities.min.css.map
.vs/ClientServer/v16/.suo
.vs/ClientServer/v16/.suo
BTLClientServer/obj/Debug/BTLClientServer.dll
BTLClientServer/obj/Debug/BTLClientServer.pdb
BTLClientServer/obj/Debug/BTLClientServer.pdb
BTLClientServer/obj/Debug/BTLClientServer.dll
.vs/ClientServer/v16/.suo
BTLClientServer/obj/Debug/BTLClientServer.dll
BTLClientServer/obj/Debug/BTLClientServer.pdb
.vs/ClientServer/v16/.suo
BTLClientServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/ClientServer/v16/.suo
BTLClientServer/BTLClientServer.csproj
BTLClientServer/Controllers/HomeController.cs
BTLClientServer/obj/Debug/BTLClientServer.dll
BTLClientServer/obj/Debug/BTLClientServer.pdb
BTLClientServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BTLClientServer/Views/Home/About.cshtml
BTLClientServer/Views/Home/Contact.cshtml
