@model ProjectClientServer.Models.DanhMucCongNhanThucHienKhoan

@{
    ViewBag.Title = "Chi tiết danh mục thực hiện khoán";
}

<h2>Chi tiết danh mục thực hiện khoán</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.SoLuong)*@
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.LaKhoanChung)*@
            Là khoán chung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaKhoanChung)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaDanhMucCNTHK }) |
    @Html.ActionLink("Quay lại", "Index", "DanhMucCongNhanThucHienKhoanController", new { @class = "btn btn-primary" })
</p>
