<h3>Công Nhân</h3>
<div class="col-md-3">
    <ul class="nav side-menu">
        <li><a href=@Url.Action("CongNhanTheoPhongBan", "ThongKe") id="aPrintReport" target="_blank" class="btn-default label-primary">Theo phòng ban</a></li>
        <li><a href=@Url.Action("CongNhanTheoChucVu", "ThongKe") id="aPrintReport" target="_blank" class="btn-default label-primary">Theo chức vụ</a></li>
        <li><a href=@Url.Action("CongNhanGioiTinh", "ThongKe") id="aPrintReport" target="_blank" class="btn-default label-primary">Theo giới tính</a></li>
        <li><a href=@Url.Action("CongNhanTuoi", "ThongKe") id="aPrintReport" target="_blank" class="btn-default label-primary">Theo tuổi</a></li>
    </ul>
</div>
